@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarItem {
    @apply py-3 bg-slate-800 rounded mx-3 pl-5 cursor-pointer hover:bg-slate-600;
}

.todoItem {
    @apply py-3 bg-slate-800 rounded cursor-pointer hover:bg-slate-600;
}

.my-drawer li:not(.nohover) {
    @apply py-2 px-2 bg-slate-800 rounded cursor-pointer hover:bg-slate-600;
}

.my-drawer a {
    @apply flex gap-3 items-center;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.hidden {
    display: none;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}